body {
    background-color: #2338f7;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    background-color: #e7f33c;
    color: rgb(0, 0, 0);
    font-family: "Bai Jamjuree", sans-serif;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d4df33;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

button + button {
    margin-left: 10px;
}